body.active-model {
   overflow-y: hidden;
}

/* .btn-modal {
   padding: 10px 20px;
   display: block;
   margin: 100px auto 0;
   font-size: 18px;
} */

.popUp,
.overlay {
   width: 100vw;
   height: 100vh;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   position: fixed;
}

.overlay {
   background: rgba(49, 49, 49, 0.8);
}

.popUp-content {
   position: absolute;
   top: 40%;
   left: 50%;
   transform: translate(-50%, -50%);
   line-height: 1.4;
   background: #f1f1f1;
   padding: 14px 28px;
   border-radius: 3px;
   max-width: 600px;
   min-width: 300px;
}

.close-popUp {
   position: absolute;
   top: 10px;
   right: 10px;
   padding: 5px 7px;
}

/* .popUp{
 min-height: 692px;
 position: fixed;
 bottom: 0;
 left: 0;
 right: 0;
 top: 0;
 z-index: 0;
 overflow: hidden;
 background: linear-gradient(108deg, rgba(1, 147, 86, 1) 0%,
 rgba(10, 201, 122, 1) 100%);
} */

.form{
  background: #010101;
  height: auto;
  max-width: 400px;
  width: 100%;
  display: grid;
  z-index: 1;
  margin: 0 auto;
  padding: 80px 32px;
  border-radius: 4px;
  box-shadow: 0 1px 3p rgba(0, 0, 0, 0.9);

  @media screen and (max-width: 400px) {
     padding: 32px 32px;
  }
}

.formH1{
   margin-bottom: 20px;
   color: #fff;
   font-size: 20px;
   font-weight: 400;
   text-align: center;
}

.formLabel{
  margin-bottom: 8px;
  color: #fff;
  font-size: 14px;
}

.formInput{
   padding: 16px 16px;
   margin-bottom: 32px;
   border: none;
   border-radius: 4px;
}

.serviceInput{
   padding: 30px 10px;
   margin-bottom: 32px;
   border: none;
   border-radius: 4px;
}

.formButton{
   background: #01bf71;
   border: none;
   padding: 16px 0;
   border-radius: 4px;
   color: #fff;
   font-size: 20px;
   cursor: pointer;
}
