.whiteDiv{
    background-color: #fff;
    margin-top: 60px;
    padding: 40px 0;
    text-align: center;
}

::after, ::before{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.container{
     padding-right: 15px;
     padding-left: 15px;
     margin-right: auto;
     margin-left: auto;

    @media (min-width: 768px) {
        width: 750px;
    }
}

.container::before{
    display: table;
    content: " ";
}

.caption{
    padding: 0;
    font-weight: 400;

    @media screen (max-width: 991px) {
        font-size: 50px;
        line-height: 55px;
    }
}

.slogan{
    font-size: 22px;
    line-height: 25px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.reason{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 600px;
    margin: 20px 0 40px 0;
}

.member_row{
    margin-right: -15px;
    margin-left: -15px;
    text-align: left;
}

.col-sm-6{
    padding-right: 50px;
    position: relative;

    @media (min-width: 768px) {
        width: 50%
        float: left;
    }
}

.memberList{
    color: aqua;
    background: url() no-repeat left center;
    padding-left: 25px;
    margin-bottom: 6px;
}

.listItem{
    position: relative;
    padding-left: 15px;
    margin-bottom: 6px;
}

.listItem::before{
    content: "+";
    position: absolute;
    top: 0;
    left: 0;
}

.contactForm{
    margin-bottom: 20px;
}

.formTitle{
    max-width: 100%;
    height: auto;
}

.form{
    display: block;
    margin-top: 0em;
}

.formService{

    @media (min-width: 768px) {
        width: 100%;
    }
}

.textarea{
    resize: none;
    height: 100px;
    padding-top: 10px;
}